*.orig
*.csproj.user
*.dbproj.user
*/obj/*
*/bin/*
*/publish/*
packages/*
TestResults/*
_ReSharper*/*
*.ReSharper.*
*.ncb
*.suo
*.dbmdl
Packages.dgml
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
ipch/
x64/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.opensdf
*.sdf
*.idea
*.favdoc
.vs/config/applicationhost.config

